/** CodeMeta Admin CSS **/

table#codemilitant-congratulations, table#codemilitant-upgrades {
    background: #e1e1e1;
    width: 95%;
    margin: 10px;
    color: #555;
    vertical-align: top;
}
table#codemilitant-congratulations th, table#codemilitant-upgrades th {
    font-size: 1rem;
    width: 50%;
}
table#codemilitant-congratulations th, table#codemilitant-congratulations td, table#codemilitant-upgrades th, table#codemilitant-upgrades td {
    background: #fcfcfc;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    color: #555;
    vertical-align: top;
}
table#codemilitant-upgrades td.code-seo-ai-content p, table#codemilitant-upgrades td.code-seo-ai-content li, table#codemilitant-congratulations td p, table#codemilitant-congratulations td li{
    font-size: 15px;
    line-height: 1.2;
    padding-left: 20px;
}
div.code-seo-ai-button {
    text-align: center;
    margin: 2rem;
}
div.code-seo-ai-button a.button-primary {
    padding: 1rem 6rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #999;
}
table #codemilitant-sample-meta tr:nth-child(even) td.code-meta-color {
    margin: 0;
    padding: 0;
    border: 1px solid #fcfcfc;
    color: darkblue;
    font-size: 1rem;
    font-weight: 500;
}
table #codemilitant-sample-meta tr:nth-child(odd) td.code-meta-color {
    margin: 0;
    padding: 0;
    border: 1px solid #fcfcfc;
    color: darkgreen;
    font-size: 1rem;
    font-weight: 500;
}